<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 ​Kyohei ​Takahashi</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Trans² uses the microphone for real-time speech transcription.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Trans² uses speech recognition for real-time transcription.</string>
</dict>
</plist>
